{% extends "base.html" %}

{% block content%}

<div class="container">
  <h1 class="display-4 mt-4 font-weight-normal">Add Item</h1>
  <form class="form-group" action="{% url 'add' %}" method="POST">
  {% csrf_token %}
    <input type="text" class="form-control" placeholder="type here ...." name="task">
    <button class="btn btn-primary mt-2  btn-block">Submit</button>
 </form>
</div>


<div class="container">
<div class="row">
  <div class="col">
    <ul class="list-group mt-5">
      {% for task in tasks%}
      <li class="list-group-item">
        {{task.task}}
        <span class="float-right">
          <form action="{% url 'delete' task.id%}">
            <button class="btn btn-danger float-right">
              Delete
            </button>
          </form>
        </span>
      </li>
      {% endfor %}
    </ul>  
  </div>
</div>
</div>

{% endblock %}